<VirtualHost *:80>
    DocumentRoot {{ phpipam_root }}

    RewriteEngine on

    ErrorLog {{ apache2_log_dir }}/error.log
    CustomLog {{ apache2_log_dir }}/access.log combined

    # Docker logs

    ErrorLog /proc/self/fd/2
    CustomLog /proc/self/fd/1 combined

    <Directory {{ phpipam_root }}>
        Options FollowSymLinks
        AllowOverride All
        Order allow,deny
        Allow from all
    </Directory>
</VirtualHost>
